{% autoescape off %}
Здравствуйте!

Вы получили это письмо, потому что запросили восстановление пароля на сайте **SmartHome Конфигуратор**.

Пожалуйста, перейдите по ссылке ниже, чтобы установить новый пароль:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо.

---
С уважением,  
Команда SmartHome Конфигуратор

*Это автоматическое сообщение, пожалуйста, не отвечайте на него.*
{% endautoescape %}